.dashboard {
    display: grid;
    row-gap: 2rem;
    padding: 2rem 0;

    &__actions {
        display: flex;
        flex-wrap: wrap;
    }

    &__actions > * {
        margin-right: 1rem;
    }

    &__timestamp {
        font-size: 1.4rem;
        font-style: italic;
    }
}