#wrapper {
    max-width: inherit;
}

#header h1 {
    margin-top: 0;
}

#header button {
    margin-top: 20px;
}

#search {
    text-align: center;
    margin-bottom: 20px;
}

@media (min-width: 640px) {
    #search input {
        width: 500px;
    }
}

span[tooltip] {
    text-decoration: underline;
    cursor: pointer;
}

.tooltip {
    text-align: left;
}