* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  font-size: 10px; }
  @media (max-width: 767px) {
    html {
      font-size: 8px; } }
  @media (max-height: 650px) {
    html {
      font-size: 8px; } }

body {
  background-color: white;
  color: black;
  overflow-x: hidden; }

img {
  border: 0; }

button {
  outline: none;
  cursor: pointer;
  background: none;
  border: 0; }

input, select, textarea, button {
  font: inherit; }

html {
  font-size: 10px; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333; }

a {
  color: #36c;
  text-decoration: none; }

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.tools-header {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eee; }
  .tools-header a {
    text-decoration: none;
    color: #36c; }

.tools-nav {
  order: 1;
  list-style: none;
  display: flex;
  align-items: flex-end; }
  .tools-nav > * {
    margin-left: 3rem; }
  .tools-nav a {
    font-size: 1.4rem; }

.tools-title {
  font-size: 2.4rem;
  font-weight: 500; }

.app {
  padding: 0 1.5rem; }

.app-title {
  font-size: 3.6rem;
  font-weight: 500; }

.app-lead {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4; }

.footer {
  padding-top: 1.5rem;
  margin: auto 1.5rem 1.5rem 1.5rem;
  border-top: 1px solid #eee; }
  .footer small {
    font-size: 1.2rem;
    line-height: 1.5; }
  .footer a {
    color: #36c;
    text-decoration: none; }

#app[v-cloak] > * {
  display: none; }

#app[v-cloak]:before {
  content: "Loading...";
  font-size: 20px; }

.container {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto; }

.app > h2 {
  color: #36c; }

.app__content {
  margin-top: 1rem;
  margin-bottom: 2rem; }

.loading {
  font-size: 2rem;
  margin-top: 1rem; }

.search {
  display: flex;
  flex-direction: column; }
  .search > * + * {
    margin-top: 1rem; }
  .search__actions {
    display: flex;
    flex-wrap: wrap; }
  .search__actions > * {
    margin: 1rem 1rem 0 0; }
  .search__keywords {
    display: flex;
    flex-wrap: wrap; }
  .search__keywords > * {
    margin: 1rem 2rem 0 0; }

.results {
  margin-top: 2rem; }
  .results__stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem; }
  .results__grid {
    margin-top: 1rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(min(20rem, 45%)), 1fr));
    grid-gap: 1rem; }
  .results__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: #eaecf0; }
  .results__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem; }

.search-keyword {
  display: flex;
  height: 4rem;
  font-size: 1.8rem;
  border: 1px solid #202122;
  background: #eaf3ff;
  border-radius: 1rem;
  max-width: calc(min(100%, 40rem));
  overflow: hidden; }
  .search-keyword[expanded] {
    height: inherit;
    align-items: flex-start; }
  .search-keyword[expanded] .search-keyword__value {
    height: 100%;
    align-items: flex-start; }
  .search-keyword[expanded] .search-keyword__button {
    flex-shrink: 0;
    height: 100%;
    justify-content: flex-start;
    padding-top: 1rem; }
  .search-keyword__input {
    padding: 0 .5rem; }
  .search-keyword__wbstatement-entry {
    display: contents; }
  .search-keyword__value {
    cursor: pointer;
    background: white;
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    white-space: nowrap;
    overflow: hidden; }
  .search-keyword__value:first-of-type {
    padding-left: 1rem; }
  .search-keyword__value:last-of-type {
    padding-right: 1rem; }
  .search-keyword__button {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0; }

.icon {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }
  .icon[data-icon="add"] {
    background-image: url("img/icon-add.svg"); }
  .icon[data-icon="arrow-left"] {
    background-image: url("img/icon-arrow-left.svg"); }
  .icon[data-icon="arrow-right"] {
    background-image: url("img/icon-arrow-right.svg"); }
  .icon[data-icon="crosshair"] {
    background-image: url("img/icon-crosshair.svg"); }
  .icon[data-icon="image"] {
    background-image: url("img/icon-image.svg"); }
  .icon[data-icon="link"] {
    background-image: url("img/icon-link.svg"); }
  .icon[data-icon="remove"] {
    background-image: url("img/icon-remove.svg"); }
  .icon[data-icon="search"] {
    background-image: url("img/icon-search.svg"); }
  .icon[data-icon="tag"] {
    background-image: url("img/icon-tag.svg"); }
  .icon[data-icon="text"] {
    background-image: url("img/icon-text.svg"); }
  .icon[data-icon="zap"] {
    background-image: url("img/icon-zap.svg"); }

.entity__wrapper {
  padding: 1rem 0; }

.entity[data-entity-type="property"] .entity__label {
  color: #2a4b8d;
  font-weight: 500;
  position: relative;
  top: -1px; }

.entity__label-id {
  display: none; }

.entity__input {
  display: flex; }

.entity__button {
  width: 4rem; }

.entity__search {
  font-size: 1.8rem;
  padding: 0 0.5rem; }

.entity__suggestions {
  list-style: none; }

.entity__suggestions li {
  padding: 1rem;
  background: #eaecf0; }

.entity__suggestions li:nth-child(odd) {
  background: #f8f9fa; }

.wm-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 4rem;
  border: 1px solid #202122;
  background: #eaf3ff;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.8rem; }
  .wm-button[hidden] {
    visibility: hidden; }
  .wm-button--action {
    background: #2a4b8d;
    border: 0;
    color: white; }
  .wm-button--link {
    background: inherit;
    border: 0;
    padding: 1rem 0; }
  .wm-button__icon {
    margin-right: .5rem; }
  html.has-mouse .wm-button:hover {
    background: white; }
  html.has-mouse .wm-button--action:hover {
    background: #36c; }

.examples {
  background: #eaf3ff;
  margin-top: 2rem;
  padding: 1rem; }
  .examples h2 {
    color: #202122;
    font-size: 1.8rem;
    font-weight: 500; }
  .examples ul {
    margin-left: 2rem; }
  .examples li {
    margin-top: .5rem; }
  .examples a {
    font-size: 1.8rem; }
