* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  font-size: 10px; }
  @media (max-width: 767px) {
    html {
      font-size: 8px; } }
  @media (max-height: 650px) {
    html {
      font-size: 8px; } }

body {
  background-color: white;
  color: black;
  overflow-x: hidden; }

img {
  border: 0; }

button {
  outline: none;
  cursor: pointer;
  background: none;
  border: 0; }

input, select, textarea, button {
  font: inherit; }

html {
  font-size: 10px; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333; }

a {
  color: #36c;
  text-decoration: none; }

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.tools-header {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eee; }
  .tools-header a {
    text-decoration: none;
    color: #36c; }

.tools-nav {
  order: 1;
  list-style: none;
  display: flex;
  align-items: flex-end; }
  .tools-nav > * {
    margin-left: 3rem; }
  .tools-nav a {
    font-size: 1.4rem; }

.tools-title {
  font-size: 2.4rem;
  font-weight: 500; }

.app {
  padding: 0 1.5rem; }

.app-title {
  font-size: 3.6rem;
  font-weight: 500; }

.app-lead {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4; }

.footer {
  padding-top: 1.5rem;
  margin: auto 1.5rem 1.5rem 1.5rem;
  border-top: 1px solid #eee; }
  .footer small {
    font-size: 1.2rem;
    line-height: 1.5; }
  .footer a {
    color: #36c;
    text-decoration: none; }

#app[v-cloak] > * {
  display: none; }

#app[v-cloak]:before {
  content: "Loading...";
  font-size: 20px; }

.container {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto; }

.app > h2 {
  color: #36c; }

.app__content {
  margin-top: 1rem; }

.loading {
  font-size: 2rem;
  margin-top: 1rem; }

.search {
  display: flex;
  flex-direction: column; }
  .search > * + * {
    margin-top: 1rem; }
  .search__keywords {
    display: flex; }
  .search__keywords > * {
    margin-right: 2rem; }
  .search__claim {
    display: flex; }
  .search__prop {
    display: flex;
    position: relative;
    background: #36c;
    color: white;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem; }
  .search__prop-input {
    display: flex; }
  .search__prop-search {
    font-size: 2rem; }
  .search__prop-button {
    color: white;
    font-size: 2rem;
    margin-left: 1rem; }
  .search__prop-label {
    font-size: 2rem;
    text-decoration: underline;
    cursor: pointer;
    margin-left: .5rem; }
  .search__prop-label-id {
    display: none; }
  .search__prop-suggestions {
    list-style: none;
    margin-top: 5px;
    position: absolute;
    width: 100rem;
    max-width: 35rem;
    font-size: 2rem; }
  .search__prop-suggestions li {
    text-decoration: none;
    background: #2a4b8d;
    color: white;
    padding: .5rem; }
  .search__prop-suggestions li:nth-child(odd) {
    background: #36c; }
  .search__items {
    width: 100%;
    background: #eaecf0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 0 1rem; }
  .search__item, .search__add-item {
    font-size: 1.8rem;
    padding: .5rem 1rem;
    border: 1px solid #72777d;
    border-radius: 1rem;
    margin-right: 1rem;
    height: 3.5rem;
    cursor: pointer;
    display: flex; }
  .search__del-item {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    border: 1px solid #72777d;
    color: #72777d;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .search__del-item span {
    font-size: 3rem;
    font-weight: bold;
    height: 4.3rem; }
  .search__item-label {
    text-decoration: underline; }
  .search__item-search {
    margin-right: 1rem; }
  .search__item-suggestions {
    list-style: none;
    margin-top: 5px;
    border: 1px solid #72777d;
    border-top: 1px solid #eaecf0;
    position: relative; }
  .search__item-suggestions li {
    text-decoration: none;
    background: white;
    padding: .5rem; }
  .search__item-suggestions li:nth-child(odd) {
    background: #eaecf0; }
  .search__item-label-id {
    display: none; }
  .search__icon {
    font-size: 1.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .search__button {
    background: #36c;
    color: white;
    padding: 1rem 1.2rem;
    font-size: 1.8rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 1rem; }
    .search__button[disabled] {
      background: #ccc;
      cursor: not-allowed; }

.results {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1rem;
  margin-top: 2rem; }
  .results__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: #eaecf0; }

.search-keyword {
  display: flex;
  height: 4rem;
  font-size: 1.8rem;
  border: 1px solid #202122;
  background: #eaf3ff;
  border-radius: 1rem; }
  .search-keyword > div {
    cursor: pointer; }
  .search-keyword__action, .search-keyword__value {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 .5rem; }
  .search-keyword__action {
    color: #2a4b8d;
    font-weight: 500; }
  .search-keyword__action > span {
    position: relative;
    top: -1px; }
  html.has-mouse .search-keyword__action:hover,
  html.has-mouse .search-keyword__value:hover {
    text-decoration: underline; }
  .search-keyword [data-icon] {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .search-keyword [data-icon]:before {
    content: '';
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }
  .search-keyword [data-icon="add"]:before {
    background-image: url("img/icon-add.svg"); }
  .search-keyword [data-icon="crosshair"]:before {
    background-image: url("img/icon-crosshair.svg"); }
  .search-keyword [data-icon="remove"]:before {
    background-image: url("img/icon-remove.svg"); }
  .search-keyword [data-icon="search"]:before {
    background-image: url("img/icon-search.svg"); }
  .search-keyword [data-icon="tag"]:before {
    background-image: url("img/icon-tag.svg"); }
  .search-keyword [data-icon="text"]:before {
    background-image: url("img/icon-text.svg"); }
  .search-keyword [data-icon="zap"]:before {
    background-image: url("img/icon-zap.svg"); }
