* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  font-size: 10px; }
  @media (max-width: 767px) {
    html {
      font-size: 8px; } }
  @media (max-height: 650px) {
    html {
      font-size: 8px; } }

body {
  background-color: white;
  color: black;
  overflow-x: hidden; }

img {
  border: 0; }

button {
  outline: none;
  cursor: pointer;
  background: none;
  border: 0; }

input, select, textarea, button {
  font: inherit; }

html {
  font-size: 10px; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333; }

a {
  color: #36c;
  text-decoration: none; }

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.tools-header {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eee; }
  .tools-header a {
    text-decoration: none;
    color: #36c; }

.tools-nav {
  order: 1;
  list-style: none;
  display: flex;
  align-items: flex-end; }
  .tools-nav > * {
    margin-left: 3rem; }
  .tools-nav a {
    font-size: 1.4rem; }

.tools-title {
  font-size: 2.4rem;
  font-weight: 500; }

.app {
  padding: 0 1.5rem; }

.app-title {
  font-size: 3.6rem;
  font-weight: 500; }

.app-lead {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4; }

.footer {
  padding-top: 1.5rem;
  margin: auto 1.5rem 1.5rem 1.5rem;
  border-top: 1px solid #eee; }
  .footer small {
    font-size: 1.2rem;
    line-height: 1.5; }
  .footer a {
    color: #36c;
    text-decoration: none; }

#app[v-cloak] > * {
  display: none; }

#app[v-cloak]:before {
  content: "Loading...";
  font-size: 20px; }

.container {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto; }

.app > h2 {
  color: #36c; }

.app__content {
  margin-top: 1rem; }

.loading {
  font-size: 2rem;
  margin-top: 1rem; }

.search {
  display: flex;
  flex-direction: column;
  /*

    &__claim {
        display: flex;
    }

    &__prop {
        display: flex;
        position: relative;
        background: $c-1;
        color: white;
        padding: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    &__prop-input {
        display: flex;
    }

    &__prop-search {
        font-size: 2rem;
    }

    &__prop-button {
        color: white;
        font-size: 2rem;
        margin-left: 1rem;
    }

    &__prop-label {
        font-size: 2rem;
        text-decoration: underline;
        cursor: pointer;
        margin-left: .5rem;
    }

    &__prop-label-id {
        display: none;
    }

    &__prop-suggestions {
        list-style: none;
        margin-top: 5px;
        position: absolute;
        width: 100rem;
        max-width: 35rem;
        font-size: 2rem;
    }

    &__prop-suggestions li {
        text-decoration: none;
        background: #2a4b8d;
        color: white;
        padding: .5rem;
    }

    &__prop-suggestions li:nth-child(odd) {
        background: #36c;
    }

    &__items {
        width: 100%;
        background: #eaecf0;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        display: flex;
        align-items: center;
        padding: 0 1rem;
    }

    &__item,
    &__add-item {
        font-size: 1.8rem;
        padding: .5rem 1rem;
        border: 1px solid #72777d;
        border-radius: 1rem;
        margin-right: 1rem;
        height: 3.5rem;
        cursor: pointer;
        display: flex;
    }

    &__del-item {
        @include wh(2rem);
        border-radius: 2rem;
        border: 1px solid #72777d;
        color: #72777d;
        margin-left: 1rem;
        @include flex-center;
    }

    &__del-item span {
        font-size: 3rem;
        font-weight: bold;
        height: 4.3rem;
    }

    &__item-label {
        text-decoration: underline;
    }

    &__item-search {
        margin-right: 1rem;
    }

    &__item-suggestions {
        list-style: none;
        margin-top: 5px;
        border: 1px solid #72777d;
        border-top: 1px solid #eaecf0;
        position: relative;
    }

    &__item-suggestions li {
        text-decoration: none;
        background: white;
        padding: .5rem;
    }

    &__item-suggestions li:nth-child(odd) {
        background: #eaecf0;
    }

    &__item-label-id {
        display: none;
    }

    &__icon {
        font-size: 1.5rem;
        color: white;
        @include flex-center;
    }

    &__button {
        @include button;
        @include flex-center(row);
        border-radius: 1rem;
    }
    */ }
  .search > * + * {
    margin-top: 1rem; }
  .search__keywords {
    display: flex;
    flex-wrap: wrap; }
  .search__keywords > * {
    margin: 1rem 2rem 0 0; }
  .search__add-keyword {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #202122;
    background: #eaf3ff;
    border-radius: 1rem; }

.results {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1rem;
  margin-top: 2rem; }
  .results__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: #eaecf0; }

.search-keyword {
  display: flex;
  height: 4rem;
  font-size: 1.8rem;
  border: 1px solid #202122;
  background: #eaf3ff;
  border-radius: 1rem; }
  .search-keyword[expanded] {
    height: inherit;
    align-items: flex-start; }
  .search-keyword[expanded] .search-keyword__value {
    height: 100%;
    align-items: flex-start; }
  .search-keyword[expanded] .search-keyword__button {
    flex-shrink: 0;
    height: 100%;
    justify-content: flex-start;
    padding-top: 1rem; }
  .search-keyword__input {
    padding: 0 .5rem; }
  .search-keyword__value {
    cursor: pointer;
    background: white;
    display: flex;
    align-items: center;
    padding: 0 .5rem; }
  .search-keyword__value:first-of-type {
    padding-left: 1rem; }
  .search-keyword__value:last-of-type {
    padding-right: 1rem; }
  html.has-mouse .search-keyword:not([expanded]) .search-keyword__value:hover {
    text-decoration: underline; }
  .search-keyword__button {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }

.icon {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }
  .icon[data-icon="add"] {
    background-image: url("img/icon-add.svg"); }
  .icon[data-icon="crosshair"] {
    background-image: url("img/icon-crosshair.svg"); }
  .icon[data-icon="remove"] {
    background-image: url("img/icon-remove.svg"); }
  .icon[data-icon="search"] {
    background-image: url("img/icon-search.svg"); }
  .icon[data-icon="tag"] {
    background-image: url("img/icon-tag.svg"); }
  .icon[data-icon="text"] {
    background-image: url("img/icon-text.svg"); }
  .icon[data-icon="zap"] {
    background-image: url("img/icon-zap.svg"); }

.entity__wrapper {
  padding: 1rem 0; }

.entity[data-entity-type="property"] .entity__label {
  color: #2a4b8d;
  font-weight: 500;
  position: relative;
  top: -1px; }

.entity__label-id {
  display: none; }

.entity__input {
  display: flex; }

.entity__button {
  width: 4rem; }

.entity__search {
  font-size: 1.8rem;
  padding: 0 0.5rem; }

.entity__suggestions {
  list-style: none; }

.entity__suggestions li {
  padding: 1rem;
  background: #eaecf0; }

.entity__suggestions li:nth-child(odd) {
  background: #f8f9fa; }
