.buffer-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.buffer-top-0 {
  margin-top: 0px !important; }

.buffer-bottom-0 {
  margin-bottom: 0px !important; }

.buffer-1 {
  margin-top: 5px !important;
  margin-bottom: 5px !important; }

.buffer-top-1 {
  margin-top: 10px !important; }

.buffer-bottom-1 {
  margin-bottom: 10px !important; }

.buffer-2 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.buffer-top-2 {
  margin-top: 20px !important; }

.buffer-bottom-2 {
  margin-bottom: 20px !important; }

.buffer-3 {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.buffer-top-3 {
  margin-top: 30px !important; }

.buffer-bottom-3 {
  margin-bottom: 30px !important; }

.buffer-4 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.buffer-top-4 {
  margin-top: 40px !important; }

.buffer-bottom-4 {
  margin-bottom: 40px !important; }

.buffer-5 {
  margin-top: 25px !important;
  margin-bottom: 25px !important; }

.buffer-top-5 {
  margin-top: 50px !important; }

.buffer-bottom-5 {
  margin-bottom: 50px !important; }

.buffer-6 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.buffer-top-6 {
  margin-top: 60px !important; }

.buffer-bottom-6 {
  margin-bottom: 60px !important; }

.buffer-7 {
  margin-top: 35px !important;
  margin-bottom: 35px !important; }

.buffer-top-7 {
  margin-top: 70px !important; }

.buffer-bottom-7 {
  margin-bottom: 70px !important; }

.buffer-8 {
  margin-top: 40px !important;
  margin-bottom: 40px !important; }

.buffer-top-8 {
  margin-top: 80px !important; }

.buffer-bottom-8 {
  margin-bottom: 80px !important; }

.buffer-9 {
  margin-top: 45px !important;
  margin-bottom: 45px !important; }

.buffer-top-9 {
  margin-top: 90px !important; }

.buffer-bottom-9 {
  margin-bottom: 90px !important; }

.buffer-10 {
  margin-top: 50px !important;
  margin-bottom: 50px !important; }

.buffer-top-10 {
  margin-top: 100px !important; }

.buffer-bottom-10 {
  margin-bottom: 100px !important; }

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  font-size: 10px; }
  @media (max-width: 767px) {
    html {
      font-size: 8px; } }
  @media (max-height: 650px) {
    html {
      font-size: 8px; } }

body {
  background-color: white;
  color: black;
  overflow-x: hidden; }

img {
  border: 0; }

button {
  outline: none;
  cursor: pointer;
  background: none;
  border: 0; }

input, select, textarea, button {
  font: inherit; }

:root {
  --c-1: #36c;
  --c-2: #eee;
  --c-3: #333;
  --spacing: 1.5rem;
  --font-monospace: 'Menlo', 'Courier New', Courier, monospace; }

html {
  font-size: 10px; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333; }

a {
  color: #36c;
  text-decoration: none; }

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.tools-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eee; }
  .tools-header a {
    text-decoration: none;
    color: #36c; }

.tools-nav {
  order: 1;
  list-style: none;
  display: flex;
  align-items: flex-end; }
  .tools-nav > * {
    margin-left: 3rem; }
  .tools-nav a {
    font-size: 1.4rem; }

.tools-title {
  font-size: 2.4rem;
  font-weight: 500; }

.app {
  padding: 0 1.5rem; }

.app-title {
  font-size: 3.6rem;
  font-weight: 500; }

.app-lead {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4; }

.footer {
  padding-top: 1.5rem;
  margin: auto 1.5rem 1.5rem 1.5rem;
  border-top: 1px solid #eee; }
  .footer small {
    font-size: 1.2rem;
    line-height: 1.5; }
  .footer a {
    color: #36c;
    text-decoration: none; }

#app[v-cloak] > * {
  display: none; }

#app[v-cloak]:before {
  content: "Loading...";
  font-size: 20px; }

.app-title,
.app-lead,
.app-user {
  text-align: center; }

.app-title {
  margin-top: 2rem; }

#wrapper[is-fullscreen] .tools-header {
  display: none; }

.container {
  overflow-x: hidden; }

.icon {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }
  .icon[data-icon="locale"] {
    background-image: url("img/icon-locale.svg"); }
  .icon[data-icon="cross"] {
    background-image: url("img/icon-cross.svg"); }
  .icon[data-icon="user"] {
    background-image: url("img/icon-user.svg"); }
  .icon[data-icon="logout"] {
    background-image: url("img/icon-logout.svg"); }
  .icon[data-icon="arrow-left"] {
    background-image: url("img/icon-arrow-left.svg"); }
  .icon[data-icon="accept"] {
    background-image: url("img/icon-accept.svg"); }
  .icon[data-icon="skip"] {
    background-image: url("img/icon-skip.svg"); }
  .icon[data-icon="close"] {
    background-image: url("img/icon-close.svg"); }
  .icon[data-icon="cog"] {
    background-image: url("img/icon-cog.svg"); }

.wm-button {
  --c-1: #36c;
  --c-2: #2a4b8d;
  --c-3: #eaf3ff;
  --c-4: #202122;
  --button-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: var(--button-height);
  border: 1px solid var(--c-4);
  background: var(--c-3);
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.8rem; }
  .wm-button[hidden] {
    visibility: hidden; }
  .wm-button--bare {
    background: none;
    border: 0;
    font-size: 1.4rem;
    color: var(--c-1); }
  .wm-button--action, .wm-button--primary {
    background: var(--c-2);
    border: 0;
    color: white; }
  .wm-button--primary {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 3rem 2rem; }
  .wm-button--dark, .wm-button--darklink {
    background: inherit;
    border-color: white;
    color: white; }
  .wm-button--link {
    background: inherit;
    border: 0;
    padding: 1rem 0; }
  .wm-button--icon {
    background: none;
    border: 0; }
  .wm-button--icon .wm-button__icon {
    margin-right: 0; }
  .wm-button__icon {
    margin-right: .5rem; }
  html.has-mouse .wm-button:hover {
    background: white; }
  html.has-mouse .wm-button--action:hover,
  html.has-mouse .wm-button--primary:hover {
    background: var(--c-1); }
  html.has-mouse .wm-button--dark:hover,
  html.has-mouse .wm-button--darklink:hover {
    background: inherit;
    text-decoration: underline; }

.screen {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto; }
  .screen > * + * {
    margin-top: var(--spacing); }
  .screen__instruction {
    font-size: 1.5rem;
    text-align: center; }
  .screen__meta {
    font-size: 1.3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .screen__meta > * + * {
      margin-top: 1rem; }
  .screen__small,
  .screen__small a {
    color: #666; }
  .screen__title {
    margin-top: 4rem;
    text-align: center;
    font-size: 2.6rem;
    font-weight: normal;
    color: var(--c-1); }
  .screen__subtitle {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.4; }
  .screen__lead {
    text-align: center;
    margin-top: 2rem; }
  .screen__candidateimage {
    display: block;
    margin-top: var(--spacing); }
  .screen__fullimage {
    width: 100%;
    height: 100%;
    max-height: 50vh;
    object-fit: contain; }
  .screen__content {
    margin-top: 1rem; }
    .screen__content > * + * {
      margin-top: 1rem; }
  .screen__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto; }
  .screen__message {
    width: 100%;
    max-width: 500rem;
    padding: 3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .screen__message > * + * {
      margin-top: 2rem; }
  .screen__message p {
    font-size: 2rem;
    font-weight: bold;
    text-align: center; }
  @media (min-width: 992px) {
    .screen--game {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: start;
      column-gap: 2rem;
      max-width: 120rem;
      margin-top: 2rem; }
    .screen--game .screen__meta {
      margin-top: 2rem;
      grid-column: 1 / -1; }
    .screen--game .screen__content {
      display: flex;
      flex-direction: column;
      margin-top: 0; }
    .screen--game .screen__candidateimage {
      order: -1;
      margin-top: 0; }
    .screen--game .screen__instruction {
      margin-top: 2rem; } }

.reference {
  display: grid;
  grid-template-columns: 15rem 1fr;
  gap: 1rem;
  border: 1px solid var(--c-1);
  width: 100%; }
  .reference__img {
    width: 100%;
    height: 15rem;
    padding: 3px;
    object-fit: contain;
    background: black; }
  .reference__caption {
    display: flex;
    flex-direction: column;
    padding: 1rem 0; }
  .reference__skipbutton {
    margin-top: auto; }
  .reference__description {
    font-size: 1.6rem; }
  @media (min-width: 768px) {
    .reference {
      grid-template-columns: 25rem 1fr; }
      .reference__img {
        height: 25rem; } }
  @media (min-width: 992px) {
    .reference {
      grid-template-columns: 1fr; }
      .reference__caption {
        padding: 1rem; } }

.options {
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-gap: 1rem; }
  .options label, .options__hint, .options__instruction,
  .options input {
    font-size: 1.5rem; }
  .options label {
    margin-top: 5px; }
  .options input {
    font-family: var(--font-monospace); }
  .options__hint {
    text-align: center;
    margin-bottom: 2rem; }
  .options__instruction {
    grid-column: 1 / -1; }
  .options__input {
    grid-column: 2; }

.leaderboard {
  border-collapse: collapse;
  width: 100%;
  max-width: 50rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6rem; }
  .leaderboard th {
    background: var(--c-1);
    color: white;
    text-align: center;
    padding: 1rem; }
  .leaderboard tr:nth-child(odd) {
    background: var(--c-2); }
  .leaderboard td {
    padding: 1rem;
    text-align: center; }

.language-selector {
  display: flex;
  align-items: center;
  padding: .5rem;
  width: min-content; }
  .language-selector__select, .language-selector__input {
    margin-left: 1rem;
    font-size: 1.6rem; }
  .language-selector__input {
    padding: 0 .5rem;
    font-family: monospace;
    width: 10rem; }
  .language-selector__close {
    width: 1.8rem;
    height: 1.8rem;
    background: #36c; }

.el-header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.el-header__username {
  margin-left: auto; }

.el-header__menu :first-child {
  padding-left: 0; }

.el-header__menu :last-child {
  padding-right: 0; }

@media (max-width: 767px) {
  .el-header__username {
    display: none; } }
