* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    color: #333;
}

#wrapper {
    margin: 0 auto;
    max-width: 640px;
    padding: 0 20px;
}

h1 {
    font-size: 2em;
    color: #e74c3c;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
    color: #2980b9;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    color: #e74c3c;
}

header {
    border-bottom: 5px solid #2980b9;
}

header a {
    text-decoration: none;
    padding: 0 10px;
}

.textbutton {
    background: #2980b9;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    box-shadow: 1px 1px 2px black;
}

.textbutton:hover {
    color: white;
}