* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

form {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background: white;
}

output {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background: white;
    font-family: monospace;
    font-size: 10px;
}

#logo {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background: white;
}