@keyframes bouncy {
    from {
        transform: translateY(-1rem);
    }

    to {
        transform: translateY(0rem);
    }
}

#wrapper {
    max-width: inherit;
}

.intro {
    max-width: 600px;
    display: block;
}

.loading {
    font-size: 3rem;
    color: purple;
    font-family: 'Comic Sans MS', sans-serif;
    animation: bouncy 200ms infinite alternate;
}

.text-link {
    text-decoration: underline;
}