* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  font-size: 10px; }
  @media (max-width: 767px) {
    html {
      font-size: 8px; } }
  @media (max-height: 650px) {
    html {
      font-size: 8px; } }

body {
  background-color: white;
  color: black;
  overflow-x: hidden; }

img {
  border: 0; }

button {
  outline: none;
  cursor: pointer;
  background: none;
  border: 0; }

input, select, textarea, button {
  font: inherit; }

html {
  font-size: 10px; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333; }

a {
  color: #337ab7;
  text-decoration: none; }

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.tools-header {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eee; }
  .tools-header a {
    text-decoration: none;
    color: #337ab7; }

.tools-nav {
  order: 1;
  list-style: none;
  display: flex;
  align-items: flex-end; }
  .tools-nav > * {
    margin-left: 3rem; }
  .tools-nav a {
    font-size: 1.4rem; }

.tools-title {
  font-size: 2.4rem;
  font-weight: 500; }

.app {
  padding: 0 1.5rem; }

.app-title {
  font-size: 3.6rem;
  font-weight: 500; }

.app-lead {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4; }

.footer {
  padding-top: 1.5rem;
  margin: auto 1.5rem 1.5rem 1.5rem;
  border-top: 1px solid #eee; }
  .footer small {
    font-size: 1.2rem;
    line-height: 1.5; }
  .footer a {
    color: #337ab7;
    text-decoration: none; }

#app[v-cloak] > * {
  display: none; }

#app[v-cloak]:before {
  content: "Loading...";
  font-size: 20px; }

.qsml-tool {
  margin-top: 1rem; }
  .qsml-tool button,
  .qsml-tool .button {
    background: #337ab7;
    color: white;
    padding: 1rem 1.2rem;
    font-size: 1.8rem;
    border-radius: 4px; }
  .qsml-tool textarea {
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    font-family: monospace; }
  .qsml-tool menu {
    display: flex; }
  .qsml-tool menu > * {
    margin-right: 1rem; }
