#app[v-cloak] > * {
    display: none;
}

#app[v-cloak]:before {
    content: "Loading...";
    font-size: 20px;
}

.container {
    max-width: 150rem;
    @include margin-center;
}

.app > h2 {
    color: $c-1;
}

.app__content {
    margin-bottom: 2rem;
}

.loading {
    font-size: 2rem;
    margin-top: 1rem;
}

.alert {
    font-size: 1.6rem;
    padding: 1rem;
    margin: 2rem auto;
    background: rgb(255, 207, 207);
    border: 1px solid black;
    width: calc(100% - 4rem);
    max-width: 60rem;
}