#app[v-cloak] > * {
    display: none;
}

#app[v-cloak]:before {
    content: "Loading...";
    font-size: 20px;
}

.container {
    max-width: 100rem;
    @include margin-center;
}

.app > h2 {
    color: $c-1;
}

.app__content {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.loading {
    font-size: 2rem;
    margin-top: 1rem;
}