$icons: add, arrow-left, arrow-right, category, close, cross, crosshair, ellipsis,
        image, link, link-inverted, locale, remove, search, tag, text, zap;

.icon {
    display: block;
    @include wh(1.8rem);
    @include background-center(contain);

    @each $icon in $icons {
        &[data-icon="#{$icon}"] {
            background-image: url('img/icon-#{$icon}.svg');
        }
    }
}