$icons: add, arrow-left, arrow-right, category, close, crosshair, image, link,
        link-inverted, remove, search, tag, text, zap;

.icon {
    display: block;
    @include wh(1.8rem);
    @include background-center(contain);

    @each $icon in $icons {
        &[data-icon="#{$icon}"] {
            background-image: url('img/icon-#{$icon}.svg');
        }
    }
}