.media-detail {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: $c-4;
    color: white;
    padding: 2rem;
    width: 100%;
    max-width: 50rem;
    margin-left: 1rem;
    @include child-margins(2rem);
    font-size: 2rem;
    overflow-y: auto;

    &__close {
        @include margin-center;
    }

    &__img {
        width: 100%;
        max-height: 50vh;
        object-fit: contain;
        margin-top: 2rem;
    }

    &__caption {
        @include child-margins(1rem);
    }

    &__title {
        font-size: 1.8rem;
    }

    &__metalist {
        font-size: 1.6rem;
        list-style: none;
        margin-top: 2rem;
        @include child-margins(.5rem);
    }

    &__metafield {
        display: flex;
    }

    &__metakey {
        font-weight: normal;
        margin-right: 1rem;
        color: $c-5;
        max-width: 35%;
        flex-shrink: 0;
        width: 100%;
    }

    &__meta a {
        color: white;
        text-decoration: underline;
    }
}