.results {
    margin-top: 2rem;

    &__stats {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;
    }

    &__stats-actions {
        display: flex;
    }

    &__tools {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.6rem;
    }

    &__tools > * {
        margin-left: 1rem;
    }

    &__grid {
        margin-top: 1rem;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(calc(min(20rem, 45%)), 1fr));
        grid-gap: 1rem;
        width: 100%;
    }

    html.has-mouse &__item:hover {
        transform: scale(1.05);
    }

    &__link {
        @include wh(100%);
        display: block;
    }

    &__image {
        @include wh(100%);
        object-fit: contain;
        background: #eaecf0;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }

    &--detail &__nav {
        margin-right: $media-detail-width;
    }

    &--detail &__content {
        display: flex;
    }

    // Obviously, this is awful
    &__detail-spacer {
        width: $media-detail-width;
        flex-shrink: 0;
    }
}