.results {
    margin-top: 2rem;

    &__stats {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;
    }

    &__grid {
        margin-top: 1rem;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(calc(min(20rem, 45%)), 1fr));
        grid-gap: 1rem;
    }

    &__image {
        @include wh(100%);
        object-fit: contain;
        background: #eaecf0;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
}