.search {
    display: flex;
    flex-direction: column;
    @include child-margins(1rem);

    &__keywords {
        display: flex;
        flex-wrap: wrap;
    }

    &__keywords > * {
        margin: 1rem 2rem 0 0;
    }

    &__add-keyword {
        @include wh($search-keyword-size);
        @include flex-center;
        border: 1px solid $c-4;
        background: $c-3;
        border-radius: 1rem;
    }

    &__button {
        @include button;
        @include flex-center(row);
        border-radius: 1rem;
    }

    &__button .icon {
        margin-right: 1rem;
    }
}