$search-keyword-size: 4rem;
$icons: add, crosshair, remove, search, tag, text, zap;

.search-keyword {
    display: flex;
    height: $search-keyword-size;
    font-size: 1.8rem;
    border: 1px solid $c-4;
    background: $c-3;
    border-radius: 1rem;

    > div {
        cursor: pointer;
    }

    &__action,
    &__value {
        background: white;
        @include flex-center;
        padding: 0 .5rem;
    }

    &__action {
        color: $c-2;
        font-weight: 500;
    }

    &__action > span {
        position: relative;
        top: -1px;
    }

    html.has-mouse &__action:hover,
    html.has-mouse &__value:hover {
        text-decoration: underline;
    }

    [data-icon] {
        @include wh(4rem, $search-keyword-size);
        @include flex-center;
    }

    [data-icon]:before {
        content: '';
        display: block;
        @include wh(1.8rem);
        @include background-center(contain);
    }

    @each $icon in $icons {
        [data-icon="#{$icon}"]:before {
            background-image: url('img/icon-#{$icon}.svg');
        }
    }
}