.search-keyword {
    display: flex;
    height: $search-keyword-size;
    font-size: 1.8rem;
    border: 1px solid $c-4;
    background: $c-3;
    border-radius: 1rem;
    max-width: min(100vw, 40rem);
    overflow: hidden;

    &[expanded] {
        height: inherit;
        align-items: flex-start;
    }

    &[expanded] &__value {
        height: 100%;
        align-items: flex-start;
    }

    &[expanded] &__button {
        flex-shrink: 0;
        height: 100%;
        justify-content: flex-start;
        padding-top: 1rem;
    }

    &__input {
        padding: 0 .5rem;
    }

    &__wbstatement-entry {
        display: contents; // FIXME: we should so something better than this
    }

    &__value {
        cursor: pointer;
        background: white;
        display: flex;
        align-items: center;
        padding: 0 .5rem;
        white-space: nowrap;
        overflow: hidden;
    }

    &__value:first-of-type {
        padding-left: 1rem;
    }

    &__value:last-of-type {
        padding-right: 1rem;
    }

    &__button {
        @include wh(4rem, $search-keyword-size);
        @include flex-center;
        flex-shrink: 0;
    }
}