.search {
    display: flex;
    flex-direction: column;
    @include child-margins(1rem);

    &__actions {
        display: flex;
    }

    &__actions > * {
        margin-right: 1rem;
    }

    &__keywords {
        display: flex;
        flex-wrap: wrap;
    }

    &__keywords > * {
        margin: 1rem 2rem 0 0;
    }

    &__add-keyword {
        height: $search-keyword-size;
        @include flex-center(row);
        border: 1px solid $c-4;
        background: $c-3;
        border-radius: 1rem;
        padding: 1rem;
        font-size: 1.8rem;
    }

    &__add-keyword .icon {
        margin-right: .5rem;
    }

    html.has-mouse &__add-keyword:hover {
        background: white;
    }

    &__button {
        @include button;
        @include flex-center(row);
        border-radius: 1rem;
    }

    &__button .icon {
        margin-right: .5rem;
    }
}