#wrapper {
    max-width: inherit;
}

.intro {
    max-width: 600px;
    display: block;
}

#app[v-cloak] > * {
    display: none;
}

#app[v-cloak]:before {
    content: "Loading...";
    font-size: 20px;
}

.text-link {
    cursor: pointer;
}

.cells {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buffer-bottom {
    margin-bottom: 3rem;
}