#wrapper {
    max-width: inherit;
}

.awesomplete {
    width: 100%;
}

.form section {
    display: flex;
    margin-bottom: 10px;
    align-items: baseline;
}

.form section > * {
    font-size: 16px;
    margin-right: 10px;
}

#app[v-cloak] > * {
    display: none;
}

#app[v-cloak]:before {
    content: "Loading...";
    font-size: 20px;
}