#app {
    min-height: 100vh;
    position: relative;

    &[v-cloak] {
        &:before {
            font-family: sans-serif;
            content: 'Loading...';
            color: black;
            font-size: 5rem;
            padding: 1rem;
            display: flex;
            @include wh(100vw, 100vh);
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 1rem;
        }

        > * {
            display: none;
        }
    }

    &:before {
        content: '';
        @include wh(100vw, 100vh);
        display: block;
        background-image: url('img/bg.png');
        background-size: cover;
        filter: blur(2px);
        opacity: 0.4;
    }
}