#wrapper {
    max-width: inherit;
}

main {
    min-height: 100vh;
}

th {
    text-decoration: underline;
}

th:hover {
    cursor: pointer;
    color: navy;
}

.flexrow {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.list li {
    list-style: none;
    width: calc(100% / 3);
    padding: .25rem 1rem;
}

.list strong {
    display: inline-block;
    width: 5rem;
}

.list-datatypes {
    text-align: left;
    margin: 0 auto;
    max-width: 30rem;
}

[v-cloak]:before {
    content: "Loading, this can take a couple of seconds...";
}

[v-cloak] > * {
    display: none;
}

.spacing-btn {
    padding: 6px 12px;
}

.text-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.proplist {
    padding-left: 2rem;
}