* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  font-size: 10px; }
  @media (max-width: 767px) {
    html {
      font-size: 8px; } }
  @media (max-height: 650px) {
    html {
      font-size: 8px; } }

body {
  background-color: white;
  color: black;
  overflow-x: hidden; }

img {
  border: 0; }

button {
  outline: none;
  cursor: pointer;
  background: none;
  border: 0; }

input, select, textarea, button {
  font: inherit; }

html {
  font-size: 10px; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333; }

a {
  color: #337ab7;
  text-decoration: none; }

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.tools-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eee; }
  .tools-header a {
    text-decoration: none;
    color: #337ab7; }

.tools-nav {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .tools-nav > * {
    margin-left: 3rem; }
  .tools-nav a {
    font-size: 1.4rem; }

.tools-title {
  font-size: 2.4rem;
  font-weight: 500; }

.app {
  padding: 0 1.5rem; }

.app-title {
  font-size: 3.6rem;
  font-weight: 500; }

.app-lead {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4; }

.footer {
  padding-top: 1.5rem;
  margin: auto 1.5rem 1.5rem 1.5rem;
  border-top: 1px solid #eee; }
  .footer small {
    font-size: 1.2rem;
    line-height: 1.5; }
  .footer a {
    color: #337ab7;
    text-decoration: none; }

#wrapper {
  max-width: inherit; }

.intro {
  max-width: 600px;
  display: block; }

#app[v-cloak] > * {
  display: none; }

#app[v-cloak]:before {
  content: "Loading...";
  font-size: 20px; }
