<!doctype html>

{% if opts.bare %}

<html>
{% else %}

<html ng-app="{{toolname}}">
{% endif %}

<head>
 <!-- __                                    __                   ___
     /\ \                                  /\ \__               /\_ \
     \ \ \___      __     __  __    ____   \ \ ,_\   ___     ___\//\ \     ____
      \ \  _ `\  /'__`\  /\ \/\ \  /',__\   \ \ \/  / __`\  / __`\\ \ \   /',__\
       \ \ \ \ \/\ \L\.\_\ \ \_\ \/\__, `\   \ \ \_/\ \L\ \/\ \L\ \\_\ \_/\__, `\
        \ \_\ \_\ \__/.\_\\/`____ \/\____/    \ \__\ \____/\ \____//\____\/\____/
         \/_/\/_/\/__/\/_/ `/___/> \/___/      \/__/\/___/  \/___/ \/____/\/___/
                              /\___/
                              \/__/                                           -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%if title %}{{title}} - {% endif %} Hay's tools</title>

    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:url" content="{{url}}">
    <meta property="og:site_name" content="Hay's tools">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@hayify">


    {% if not opts.bare %}
    <link rel="stylesheet" href="{{root}}/vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{root}}/common/style.css" />
    {% endif %}

    {% if opts.styles %}
        {% for style in opts.styles %}
        <link rel="stylesheet" href="{{root}}/{{toolname}}/{{style}}">
        {% endfor %}
    {% endif %}

    {{ "\n" | raw }}

    {% if (not opts.scripts is defined) and default_scripts %}
        <script>
            window._scripts = [];
        </script>
    {% endif %}

    {{ "\n" | raw }}

    {% if opts.use_vite  %}
        <!-- Using Vite -->
        {% if debug %}
            <!-- Debug mode -->
            <script type="module" src="http://localhost:3000/@vite/client"></script>
            <script type="module" src="http://localhost:3000/{{opts.vite_entry}}"></script>
        {% else %}
            <script>alert('production');</script>
        {% endif %}
    {% endif %}

    {{ before_head_close  | raw }}
</head>
<body>
<div id="wrapper" class="container">
    <header class="tools-header">
        <ul class="nav nav-header nav-pills pull-right tools-nav">
            <li><a href="../">Home</a></li>
            <li><a href="https://github.com/hay/wiki-tools">Source</a></li>
        </ul>

        <h3 class="tools-title text-muted"><a href="../">Hay's tools</a></h3>
    </header>

    {% if not opts.bare %}
    <hr />
    {% endif %}

    <main>