#app[v-cloak] > * {
    display: none;
}

#app[v-cloak]:before {
    content: "Loading...";
    font-size: 20px;
}

.app-title,
.app-lead,
.app-user {
    text-align: center;
}

.app-title {
    margin-top: 2rem;
}

#wrapper[is-fullscreen] .tools-header {
    display: none;
}