#app[v-cloak] > * {
    display: none;
}

#app[v-cloak]:before {
    content: "Loading...";
    font-size: 20px;
}

#wrapper[is-fullscreen] {
    .tools-header,
    .app-title,
    .app-lead,
    .footer {
        display: none;
    }
}

.app-title {
    text-align: center;
}