.button {
    &--action {
        border: 1px solid var(--c-1);
        color: var(--c-1);
        font-size: 2rem;
        padding: 1rem;
    }

    &--center {
        @include margin-center;
    }

    &--start {
        background: var(--c-1);
        color: white;
        font-size: 3rem;
        padding: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}