.button {
    &--link {
        text-decoration: underline;
        color: var(--c-1);
        font-size: 1.4rem;
    }

    &--action {
        border: 1px solid var(--c-1);
        color: var(--c-1);
        font-size: 1.5rem;
        padding: 1rem;
        font-weight: bold;
    }

    &--center {
        @include margin-center;
    }

    &--start {
        background: var(--c-1);
        color: white;
        font-size: 3rem;
        padding: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}