.el-header {
    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__username {
        margin-left: auto;
    }

    &__menu :first-child {
        padding-left: 0;
    }

    &__menu :last-child {
        padding-right: 0;
    }

    @include respond-until($screen-sm) {
        &__username {
            display: none;
        }
    }
}