.options {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-gap: 1rem;

    label,
    &__hint,
    &__instruction,
    input {
        font-size: 1.5rem;
    }

    label {
        margin-top: 5px;
    }

    input {
        font-family: var(--font-monospace);
    }

    &__hint {
        text-align: center;
        margin-bottom: 2rem;
    }

    &__instruction {
        grid-column: 1 / -1;
    }

    &__input {
        grid-column: 2;
    }
}