.reference {
    display: grid;
    grid-template-columns: 15rem 1fr;
    gap: 1rem;
    border: 1px solid var(--c-1);
    width: 100%;

    &__img {
        @include wh(100%, 15rem);
        padding: 3px;
        object-fit: contain;
        background: black;
    }

    &__caption {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
    }

    &__caption .button {
        margin-top: auto;
    }

    &__description {
        font-size: 1.6rem;
    }

    @include respond-from($screen-sm) {
        // Bigger ref image on desktop
        grid-template-columns: 25rem 1fr;

        &__img {
            height: 25rem;
        }
    }
}