.screen {
    padding: 1rem 0;
    @include flex-center;
    @include child-margins(var(--spacing));
    font-size: 2rem;
    max-width: 80rem;
    @include margin-center;

    &--challenge {
        font-size: 1.6rem;
    }

    &--challenge p {
        width: 100%;
    }

    &__instruction {
        font-size: 1.5rem;
        text-align: center;
    }

    &__meta {
        font-size: 1.3rem;
        text-align: center;
        @include flex-center;
        @include child-margins(1rem);
    }

    &__small,
    &__small a {
        color: #666;
    }

    &__title {
        margin-top: 4rem;
        text-align: center;
        font-size: 2.6rem;
        font-weight: normal;
        color: var(--c-1);
    }

    &__subtitle {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.4;
    }

    &__lead {
        text-align: center;
        margin-top: 2rem;
    }

    &__candidateimage {
        display: block;
        margin-top: var(--spacing);
    }

    &__fullimage {
        @include wh(100%, 100%);
        max-height: 50vh;
        object-fit: contain;
    }

    &__content {
        margin-top: 1rem;
        @include child-margins(1rem);
        width: 100%;
    }

    &__actions {
        display: flex;
        width: 100%;
        justify-content: space-between;
        max-width: 40rem;
        @include margin-center;
    }

    &__message {
        width: 100%;
        max-width: 500rem;
        padding: 3rem 1rem;
        @include flex-center;
        @include child-margins(2rem);
    }

    &__notice {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }

    &__quote {
        font-style: italic;
        background: var(--c-2);
        padding: 1rem;
    }

    @include respond-from($screen-md) {
        &--game {
            display: grid;
            grid-template-columns: 1fr 2fr;
            align-items: start;
            column-gap: 2rem;
            max-width: 120rem;
            margin-top: 2rem;
        }

        &--game &__challenge {
            grid-column: 1 / -1;
            width: max-content;
            margin: 2rem auto;
        }

        &--game &__meta {
            margin-top: 2rem;
            grid-column: 1 / -1;
        }

        &--game &__content {
            display: flex;
            flex-direction: column;
            margin-top: 0;
        }
    }
}