.screen {
    padding: 1rem 0;
    @include flex-center;
    @include child-margins(var(--spacing));
    font-size: 2rem;
    max-width: 80rem;
    @include margin-center;

    &__instruction {
        font-size: 1.5rem;
        text-align: center;
    }

    &__meta {
        font-size: 1.3rem;
        text-align: center;
    }

    &__lead {
        text-align: center;
        margin-top: 2rem;
    }

    &__fullimage {
        @include wh(100%, 100%);
        max-height: 50vh;
        object-fit: contain;
    }

    &__actions {
        display: flex;
        width: 100%;
        justify-content: space-between;
        max-width: 40rem;
    }
}