.language-selector,
.dark-toggle {
    display: flex;
    align-items: center;
    padding: .5rem .5rem .5rem 0;
    width: min-content;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }

    &__select {
        margin-left: 1rem;
        font-size: 1.6rem;
    }

    &__link {
        font-size: 1.4rem;
        cursor: pointer;
        text-decoration: underline;
        padding-left: .5rem;
        color: var(--c-1);
    }

    &__close {
        margin-left: .5rem;
    }
}
