* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

#quiz {
    display: grid;
}

.screen {
    display: grid;
    padding: 20px;
    row-gap: 20px;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button {
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
}

menu {
    display: grid;
    row-gap: 10px;
}

[v-cloak] {
    display: none;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}